<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/static/css/style.css" type="text/css">

<div id="page" class="site">

<header id="masthead" class="site-header" role="banner">

		<!-- #main-menu -->
		<nav class="main-navigation" id="main-nav">

		<div id="primary-menu" class="nav-menu menu"><ul aria-expanded="false" class=" nav-menu">
			<li class="page_item page-item-4"><a href="bottoms.html">Dresses</a></li>
			    <li class="page_item page-item-4"><a href="bottoms.html">Bottom</a></li>
			    <li class="page_item page-item-4"><a href="tops.html">Tops</a></li>
			    <li class="page_item page-item-4"><a href="accessories.html">Accessories</a></li>
			    <li class="page_item page-item-4"><a href="sale.html">Sale</a></li>


</ul>
             <a href="/cart/order-summary" style="margin-left:1000px;margin-top:-30px;"/>
                <img src="/static/baseline-shopping_cart-24px.svg" style="margin-top: -37px;margin-left: 1100"/>
           <h1 class="site-title" style="margin-right:1000px; margin-top: -42px;">
					<a href="home.html" rel="home" style="font-size:30px">
						KVet Co.

					</a>
				</h1>
            </div>


		</nav>

<body>
    {% include 'messages.html' %}
    <div class="container">
        {% block content %}{% endblock content %}
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>

    {% block script %}{% endblock script %}
</body>

    	<footer id="colophon" class="site-footer container" role="contentinfo">

		<div id="footer-social">

		</div>

		<div class="site-info container">
			© 2018
			<a href="http://kvetco.com/">Nicole Tauler</a>
		</div><!-- .site-info -->

	</footer><!-- #colophon -->
</div>

</html>
